<div class="container backGroud">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-2 mt-5 mx-5 my-5">
        <div class="card-header">
          <h5 class="mb-0">DHL Shipment Tracking</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="provider" (ngSubmit)="submit()">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="providerName">Provider Name</label>
              </div>
              <div class="col">
                <!-- <label class="mx-2"><b>{{provider.value.providerName}}</b></label> -->
                <select (change)="providername($event)" class="form-control">
                  <option>----Select----</option>
                  <option value="DHL">DHL</option>
                  <option value="BlueDart">BlueDart</option>
                  <option value="RoyalMAil">RoyalMAil</option>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="providerNameValue === 'DHL'">
            <div class="form-group mt-3">
              <div class="row">
                <div class="col" style="float: right;">
                  <label for="trakerNumber">Tracking Number</label>
                </div>
                <div class="col" style="float: left;">
                  <input type="text" class="form-control" formControlName="trakerNumber" maxlength="10"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button type="submit" class="btn btn-primary my-2">Submit</button>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="message">
          <label *ngIf="errorMessage" style="text-align: center; color: red;">{{errorMessage}}</label>
        </div>
        <div *ngIf="!message">
          <div *ngIf="responce" class="row">
            <table class="table">
              <tbody>
                <tr>
                  <!-- <th scope="row"></th> -->
                  <td>Parcel Number</td>
                  <td>Parcel Status</td>
                  <td>Delivered Time</td>
                  <td>Delivered Address</td>
                </tr>
                <tr>
                  <!-- <th scope="row"></th> -->
                  <td>{{id}}</td>
                  <td>{{responce.description}}</td>
                  <td>{{responce.timestamp}}</td>
                  <td>{{location.addressLocality}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
</div>
